<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>
  <h1>Add Cupcake</h1>
  <form id="add-cupcake" action="/api/cupcakes" method="POST">
    <label for="flavor">Flavor</label>
    <input type="text" maxlength="50" name="flavor" id="flavor">

    <label for="size">Size</label>
    <input type="text" maxlength="15" name="size" id="size">

    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating">

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" id="image_url">

    <button type="submit">Submit</button>
  </form>

  <div id="cupcakeContainer">
  </div>

  <script src="https://unpkg.com/jquery"></script>
  <script src="../static/models.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>